/* Search Bar */
@media (max-width: 991px) {
  .search-car .form-search {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
  }

  .search-car .driver {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    height: 58px;
    font-size: 12px;
  }

  .search-car .date {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 58px;
    font-size: 12px;
  }

  .search-car .time {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 58px;
    font-size: 12px;
  }

  .search-car .names {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 58px;
    font-size: 12px;
    position: relative;
  }

  .search-bar .input-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar .input-icon .user {
    width: 18px;
    height: 18px;
    color: #8a8a8a;
  }

  .search-car input,
  select {
    padding: 9px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 2px;
    border: 1px solid #3c3c3c;
    background: var(--neutral-01, #fff);
    color: #8a8a8a;
  }

  .search-bar button {
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 12px;
    background-color: var(--limegreen);
  }
}

@media (min-width: 991px) {
  .search-bar {
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .search-car .form-search {
    z-index: 99;
    margin-top: -50px;
    background-color: #fff;
    padding: 20px;
    gap: 16px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .search-car .driver {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 200px;
    height: 58px;
    font-size: 12px;
  }

  .search-car .date {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 200px;
    height: 58px;
    font-size: 12px;
  }

  .search-car .time {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 200px;
    height: 58px;
    font-size: 12px;
  }

  .search-car .names {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 200px;
    height: 58px;
    font-size: 12px;
    position: relative;
  }

  .search-bar .input-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar .input-icon .user {
    width: 18px;
    height: 18px;
    color: #8a8a8a;
  }

  .search-car input,
  select {
    height: 36px;
    padding: 9px 12px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 2px;
    border: 1px solid #d0d0d0;
    background: #fff;
    color: #8a8a8a;
  }

  .search-bar button {
    width: 100px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 12px;
    background-color: var(--limegreen);
  }

  .search-bar button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
}

/* End Search Bar */

/* All Cars */
@media (min-width: 375px) {
  #no-cars-message {
    display: flex;
    padding: 40px;
    justify-content: center;
    color: #8a8a8a;
  }

  .all-cars .cars {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .all-cars .cars .card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: var(--neutral-01, #fff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .cars .card-descriptions {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .cars .card-descriptions .name,
  .cars .card-descriptions .price,
  .cars .card-descriptions .desc,
  .cars .card-info p {
    color: var(--neutral-01, #000);
    font-size: 14px;
    font-style: normal;
    margin: 0;
  }

  .cars .card-descriptions .price {
    font-weight: 700;
  }

  .cars .card-info .icon {
    width: 20px;
    height: 20px;
    color: #8a8a8a;
  }

  .cars .button {
    width: 100%;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 12px;
    background-color: var(--limegreen);
  }

  .all-cars .images-car {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  #no-cars-message {
    display: flex;
    padding: 40px;
    width: 800px;
    justify-content: center;
    color: #8a8a8a;
  }

  .all-cars .cars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 50px 0;
  }

  .all-cars .card {
    width: fit-content;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--neutral-01, #fff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .all-cars .images-car {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media (min-width: 991px) {
  #no-cars-message {
    display: flex;
    padding: 40px;
    width: 1000px;
    justify-content: center;
    color: #8a8a8a;
  }

  .all-cars .cars {
    gap: 32px;
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .all-cars .card {
    width: fit-content;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--neutral-01, #fff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .all-cars .images-car {
    border-radius: 4px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

/* End All Cars */