/* Navbar */
.btn-dropdown {
  background-color: #fff;
  border: none;
  padding: 0;
}

.form-search {
  display: flex;
  width: 174px;
  align-items: center;
  gap: 8px;
  padding: 0 8px 0 8px;
  border: 1px solid #d0d0d0;

  /* Font */
  color: #8a8a8a;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}

.form-controls {
  border: none;
  outline-color: #fff;
}

.btn-search {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 2px;
  border: 1px solid #0d28a6;
  background: #fff;

  /* Font */
  color: #0d28a6;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

/* Sidebar */
.full-height {
  height: 100vh;
}

/* Sidebar links style */
.sidebar-link {
  color: #000;
}
/* Content style */
.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #f4f5f7;
  height: 100%;
}

.brand {
  display: flex;
  gap: 16px;
  padding: 24px 20px;
  font-weight: 700;
  border-bottom: 1px solid #f4f5f7;
}

.logo {
  height: 24px;
  width: 24px;
  background-color: aqua;
}

.nav-item {
  padding: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  font-size: 16px;
}

.nav-link:checked {
  background-color: #0d28a6;
  color: #fff;
}

.content {
  height: 500px;
}

/* Dashboard */
.header h1 {
  font-size: 20px;
  font-weight: 600;
}

.list {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 16px 0;
}

.line {
  width: 4px;
  height: 24px;
  background-color: #0d28a6;
}

th {
  background-color: #0d28a6;
}

/* List Cars */
.cars {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 0 12px 0 12px;
}

.cars .card {
  width: fit-content;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 36px;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutral-01, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.cars .images-car {
  border-radius: 4px;
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.card .edit {
  width: 143px;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  background-color: #5cb85f;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
}
.card .delete {
  width: 143px;
  text-decoration: none;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #fa2c5a;
  color: #fa2c5a;
}

.filter {
  font-size: 14px;
  font-weight: 700;
  color: #aeb7e1;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #0d28a6;
}

.filter:hover {
  background-color: #cfd4ed;
  color: #0d28a6;
}

.add-new {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 12px 8px 12px;
  background-color: #0d28a6;
  border-radius: 2px;
  gap: 12px;
  border: 0;
}

/* Add Cars */
.form-car {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 2px;
}

.form-name {
  gap: 80px;
}

.form-price {
  gap: 88px;
}

.form-desc {
  gap: 44px;
}

.form-capacity {
  gap: 62px;
}

.form-transmisi {
  gap: 56px;
}

.form-year {
  gap: 92px;
}

.form-img {
  gap: 72px;
}

.cancel {
  padding: 8px 12px 8px 12px;
  background-color: #ffffff;
  border: 1px solid #0d28a6;
  color: #0d28a6;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
}

/* Layout Admin */
/* Sidebar */
.side {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px #0000000d;
  z-index: 1000;
}

/* Navbar */
.bar {
  padding: 16px 24px;
  box-shadow: 0px 2px 8px 0px #0000000d;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: calc(100%);
  z-index: 100;
}

/* Body Content */
.body {
  height: 100vh;
  padding: 16px;
  margin-top: 72px;
  margin-left: 250px;
  background: #f4f5f7;
}
