.cars {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 0 12px 0 12px;
}

.cars .card {
  width: fit-content;
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 36px;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutral-01, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.cars .images-car {
  border-radius: 4px;
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.card .edit {
  width: 143px;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  background-color: #5cb85f;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
}
.card .delete {
  width: 143px;
  text-decoration: none;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #fa2c5a;
  color: #fa2c5a;
}

.filter {
  font-size: 14px;
  font-weight: 700;
  color: #aeb7e1;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #0d28a6;
}

.filter:hover {
  background-color: #cfd4ed;
  color: #0d28a6;
}

.add-new {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 8px 12px 8px 12px;
  background-color: #0d28a6;
  border-radius: 2px;
  gap: 12px;
  border: 0;
}
