.navbar {
  padding: 16px 24px 16px 24px;
  box-shadow: 0px 2px 8px 0px #0000000d;
}

.btn-dropdown {
  background-color: #fff;
  border: none;
  padding: 0;
}

.form-search {
  display: flex;
  width: 174px;
  align-items: center;
  gap: 8px;
  padding: 0 8px 0 8px;
  border: 1px solid #d0d0d0;

  /* Font */
  color: #8a8a8a;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}

.form-controls {
  border: none;
  outline-color: #fff;
}

.btn-search {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 2px;
  border: 1px solid #0d28a6;
  background: #fff;

  /* Font */
  color: #0d28a6;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
