.full-height {
  height: 100vh;
}

/* Sidebar links style */
.sidebar-link {
  color: #000;
}
/* Content style */
.content {
  margin-left: 250px;
  padding: 20px;
  background-color: #f4f5f7;
  height: 100%;
}

.brand {
  display: flex;
  gap: 16px;
  padding: 24px 20px;
  font-weight: 700;
  border-bottom: 1px solid #9f9f9f;
}

.logo {
  height: 24px;
  width: 24px;
  background-color: aqua;
}

.nav-item {
  padding: 8px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  font-size: 16px;
}

.nav-link:checked {
  background-color: #0d28a6;
  color: #fff;
}

.content {
  height: 500px;
}
